@mixin style-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: #e6e6e6;
  border-radius: 0.3rem;
  box-shadow: 
  0px 0px 1px 1px rgba(0, 0, 0, 0.1),
  inset -1px -1px 1px 1px rgb(0, 0, 0, 0.219),
  inset 1px 1px 1px 1px rgba(255, 255, 255, 0.6);
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0 calc(20px - (100vw - 100%)) 0 0;
}

h1, h2, h3, h4, h5, h6, p, a, span, li {
  font-family: 'agora';
  color: #1d1d1e;
}

/* ---------------- arrow top ---------------- */
.arrow-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 20;
  display: none;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  font-size: 2.5rem;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px 1px #16326e65;
  background: #16326e65;
  cursor: pointer;
  transition: all .3s;
}
.arrow-top:hover {
  box-shadow: 0 0 6px 2px #16326ed2;
  background: #16326ed2;
  transform: scale(1.2);
}
.arrow-top:active {
  transform: scale(1);
}
.arrow-top--show {
  display: flex;
}
/* -------------------------------------------- */

.links {
  font-weight: 500;
  color: #0064b1;
  cursor: pointer;
  transition: .3s;
}

.links:hover {
  color: #0091ff;
}

.staff-training {
  width: 100%;
  height: 100%;

  &__body {
    max-width: 102.4rem;
    margin: 0 auto;
    padding: 3rem;
  }

  &__logo {
    margin-bottom: 2rem;

    .staff-training__logo-image {
      max-height: 18rem;
    }

    .staff-training__logo-image-2 {
      display: none;
    }

    @media(max-width: 800px){
      .staff-training__logo-image {
        display: none;
      }

      .staff-training__logo-2-wrapper {
        max-height: 18rem;
        max-width: 18rem;

        .staff-training__logo-image-2 {
          display: block;
          width: 100%;
        }
      }
    }
    
  }
  
  @media(max-width: 480px){
    &__logo {
      display: flex;
      justify-content: center;
    }
  }

  &__main-nav-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    // gap: 4rem 0;
    min-height: 50rem;
    // border-radius: 0.5rem;
    // overflow: hidden;
  }

  // &__background-line {
  //   position: absolute;
  //   top: 4.9rem;
  //   left: 0;
  //   z-index: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: #46464638;
  // }

  &__nav {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 0 1rem;

    .nav-link {
      position: relative;
      bottom: -0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      min-height: 4.5rem;
      background: #e6e6e6;
      border-radius: 0.5rem 0.5rem 0 0;
      color: #4d4d4d;
      font-weight: 500;
      box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.219),
      inset 1px 1px 3px 1px rgb(240, 240, 240);
      transition: all .1s;
      cursor: pointer;
    }

    .nav-link:hover {
      bottom: 0;
      color: #000000;
    }

    .nav-link:active {
      bottom: -0.5rem;
      background: #f0f0f0;
      box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.219), 
      inset -1px -1px 3px 1px rgb(240, 240, 240);
    }

    .nav-link--active {
      bottom: 0;
      color: #000000;
      background: #F6F6F6;
      border-bottom: none;
      box-shadow: 0px 0px 1px 1px #46464638, 
      inset 0px 0px 0px 0px rgb(240, 240, 240);
    }

  }

  .staff-training__background-line {
    position: relative;
  }

  .staff-training__background-line::after {
    content: '';
    position: absolute;
    z-index: 1;
    top:0;
    width: 100%;
    height: 0.1rem;
    box-shadow: 0px -0.3px 1px 1px #00000028;
  }

  .staff-training__main {
    z-index: 3;
    display: flex;
    flex-direction: column;
    min-height: 50rem;
    padding: 2rem;
    background: #F6F6F6;
    box-shadow: 0px 2px 1px 1px #00000028;
    border-radius: 0 0 0.5rem 0.5rem;    

    .field-start-exam__button {
      padding: 0 1rem;
      height: 3.5rem;
      background: #e6e6e6;
      border: none;
      border-radius: 0.5rem;
      font-weight: 500;
      box-shadow: 
      1px 1px 3px 1px rgba(0, 0, 0, 0.219),
      inset 1px 1px 3px 1px rgb(240, 240, 240);
      transition: all .3s;
      cursor: pointer;
    }

    .field-start-exam__button:hover {
      box-shadow: 
      1px 1px 5px 3px rgba(0, 0, 0, 0.219),
      inset 1px 1px 3px 1px rgb(240, 240, 240);

    }

    .field-start-exam__button:active {
      background: #e4e4e4;
      box-shadow: 
      inset 1px 1px 3px 1px rgba(0, 0, 0, 0.219),
      1px 1px 3px 1px rgb(240, 240, 240);
    }
  }


  &__title {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }

  &__title--margin-bottom {
    margin-bottom: 4rem;
  }

  &__title-text {
    text-align: center;
    font: 500 2.4rem/2.4rem 'agora';
  }

  &__descriotion {
    max-width: 70.68rem;
    margin: 0 auto 3rem auto;
  }

  &__descriotion-text {
    margin-bottom: 1rem;
    font: 400 1.6rem/2rem 'agora';
    text-align: justify;
    text-indent: 2rem;
  }

  &__descriotion-text--display--none {
    display: none;
  }

  .questions-list {
    margin-bottom: 2rem;

    &--display--none {
      display: none;
    }

		&__body {
		}

		&__title {
      margin-bottom: 0.5rem;
      font: 500 1.8rem/2rem 'agora';
		}

		&__item {
      margin: 0 0 0.5rem 4rem;
      list-style: disc;
      transition: .3s;
		}

    &__section-link {
      display: inline-block;
    }

    &__item--list-style--none {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 2rem 0 0 0;
      list-style: none;

      .questions-list__order-reference {
        margin: 0 4rem 2rem 0;
      }

      @media(max-width: 700px){
        .questions-list__order-reference {
          margin: 0 0 2rem 0;
        }
      }
    }
  }

}

.training-main {
  font-size: 3rem;
}

.training-main--display--none {
  display: none;
}

.tests {
  display: none;

  &--display--block {
    display: block;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50rem;

    .tests__indicators-field {

      .tests__block-indicator-answers {
        display: flex;
        justify-content: center;

        .tests__wrap-indicator-body {
          display: flex;
          flex-wrap: wrap;
          gap: 0 0.5rem;
        }

        .exam__indicator-body {
          @include style-indicator;

          .exam__indicator-number {
            font-size: 1.6rem;
          }
        }

        .exam__indicator-body:hover {
          cursor: pointer;
          // outline: 3px solid #0090f690;
          transform: scale(1.05);
        }
        
        
        .exam__current-indicator {
          // outline: 3px solid #0064b190;
          box-shadow: 
            0px 0px 1px 1px rgba(0, 0, 0, 0.2),
            inset 1px 1px 1px 1px rgb(0, 0, 0, 0.219),
            inset -1px -1px 1px 1px rgba(255, 255, 255, 0.349);
        }

        .exam__set-answer {
          background: #0064b127;
        }

        .exam__right-answer {
          background:#01f80160;
        }

        .exam__not-right-answer {
          background:#ff000060;
        }

        .exam__no-answer {
          background: #e6e6e6;
        }

      }

      .test__prev-title {
        text-align: center;
      }

      .tests__name-section-text {
        font-size: 1.6rem;
      }

      .tests__number-question-number,
      .test__time-exam-num, 
      .test__time-exam-num span {
        font-size: 1.5rem;
        font-weight: 600;
      }

      .tests__block-questions-information {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin: 4rem 0 0 0;
        margin-bottom: 4rem;
      }
      
    }
  }

  .question-answers {
    
    &__body {
      display: flex;
      flex-direction: column;
      gap: 2rem 0;
    }

    &__question {
      margin-bottom: 1rem;
      font-weight: 600;
    }

		&__answers-body {
      display: block;
      margin: 0 0 1rem 0;
      padding: 0.5rem;
      font-weight: 400;
      color: #29292b;
      background: #f5f5f5;
      border: 0.2rem solid #8a8a8a3f;
      border-radius: 0.5rem;
      cursor: pointer;

      .exam-question-answers__answers-body-selected-not-selected {
        font-weight: 600;
      }
		}

    &__answers-body--display--none {
      display: none;
    }

    &__answers-body--active {
      background: #0064b127;
    }

    .exam-question-answers__body--correct {
      background: #0064b127;
    }

    .exam-question-answers__body--correct-select {
      background: #01f80160;
    }

    .exam-question-answers__body--incorrect-select {
      background: #ff000060;
    }

    &__answers-body:hover {
      color: #000;
      box-shadow: 0 0 2px 1px #7c8a94;
    }

    &__answers-body:active {
      color: #000;
      background: #0064b10c;
    }
    

  }

  .btn-score {

    &__body {
      display: flex;
      justify-content: center;
      gap: 0 2rem;
      margin-top: 2rem;
    }
  
    &__btn {
      padding: 0.5rem;
      color: #4d4d4d;
      background: #e6e6e6;
      border: 1px solid #0000001a;
      border-radius: 0.5rem;
      box-shadow: 
      1px 1px 3px 1px rgba(0, 0, 0, 0.219),
      inset 1px 1px 3px 1px rgb(240, 240, 240);
      transition: 0.2s;
    }

    &__btn:hover {
      cursor: pointer;
      box-shadow: 
      1px 1px 5px 2px rgba(0, 0, 0, 0.219),
      inset 1px 1px 3px 1px rgb(240, 240, 240);
    }

    &__btn:active {
      background: #e4e4e4;
      box-shadow:
      inset 1px 1px 3px 1px rgba(0, 0, 0, 0.219),
      1px 1px 3px 1px rgb(240, 240, 240);
    }
  
    &__btn--display--none {
      display: none;
    }
  
    &__field-result {
      display: flex;
      flex-direction: column;
      align-items: center;

      .final-text {
        margin: 2rem 0 0.5rem 0;
        font-size: 2rem;
        font-weight: 600;
      }

      .error-rate {
        color: red;
      }

      .correct {
        color: green;
      }
      
      .passed {
        color: #0064b1;
      }
    }
  
    &__field-result-result {
      
    }
  }

}

.field-start-exam {
  display: none;

  &--display--block {
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-grow: 1;
  }

  &__body {
    display: flex;
    justify-content: center;
  }

  &__button {
  }

 
}

.pre-start-countdown {
  position: relative;
  // display: none;
  justify-content: center;
  height: 6rem;

  &--display--block {
    display: flex;
  }

  &__num {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    opacity: 0;
    transition: .3s;
  }
}

.field-questions {
  &--display--none {
    display: none;
  }

  &__body {
    display: none;
    width: 100%;
    // max-height: 80rem;
    padding: 0 2rem;
    background: #f0f0f0;
    border-top: 2rem solid #f0f0f0;
    border-bottom: 2rem solid #f0f0f0;
    border-radius: 0.5rem;
    overflow: auto;  
  }

  /* ---------------- scroll ---------------- */
  &__body::-webkit-scrollbar {
    width: 8px;
  }
  &__body::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #dadada;
  }
  &__body::-webkit-scrollbar-thumb:hover {
    background-color: #C1C1C1;
    cursor: pointer;
  }
  /* ---------------------------------------- */

  &__body-section-title {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
  }

  &__body-quest-answ-wrap {
    margin-bottom: 2rem;
    padding: 1rem;
    background: #ffffff;
    border: 0.2rem solid #8a8a8a3f;
    border-radius: 0.5rem;
  }

  &__body-question {
    margin-bottom: 1rem;
    color: #000;
    font-weight: 600;
  }

  &__body-answer {
    margin: 0 0 1rem 2rem;
    padding: 0.5rem;
    font-weight: 400;
    color: #29292b;
    background: #f5f5f5;
    border: 0.2rem solid #8a8a8a3f;
    border-radius: 0.5rem;
  }

  &__body-answer--answer--correct {
    background: #73ff5d2f;
    border: 0.2rem solid #8a8a8a3f;
    border-radius: 0.5rem;
  }
  
}

.field-questions--margin--top {
  margin-top: 4rem;
}

/* блок прохождения обучения */
.training-main {

  /* блок с превьюшками */
  .training__content {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
  
    .training__content-inner {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
      max-width: 68rem;
    
      .wrap-link-preview-block {
        flex: 1 1 100%;// flex-grow, flex-shrink, flex-basis
        max-width: 33rem;
      }

      .preview-block {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        
        padding: 1rem;
        line-height: 3rem;
        background: #fff;
        border: 1px solid #E2E2E2;
        border-radius: 0.5rem;
        box-shadow: 1px 1px 0px 1px #83828231;
        cursor: pointer;
      }

      // @media(max-width: 480px){
      //   .preview-block {
      //     min-width: 13rem;
      //   }
      // }
  
      .disabled-block {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        width: 3rem;
        height: 4rem;
      }
  
      .inactive-status {
        box-shadow: 0 0 0 0;
        opacity: 0.4;
        cursor: default;
      }
    
      .stage-block {
        text-align: center;
        margin-bottom: 1rem;
      }
    
      .section-block {
        min-height: 10rem;
        width: 100%;
      }
    
      .all-quest-in-stage {
        text-align: center;
      }
    }
  }

  /* блок с прохождением обучения определеной секции */
  .training {
    display: none;

    .training__block-button-exit {
      margin-bottom: 3rem;
    }

    /* индикаторы */
    .training__indicators-field {
      .training__block-indicator-answers {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        .training__indicator-body {
          @include style-indicator;

          .training__indicator-number {
            font-size: 1.6rem;
          }
        }

        .training__indicator-body:hover {
          cursor: pointer;
          // outline: 3px solid #0090f690;
          transform: scale(1.05);
        }
        
        
        .training__current-indicator {
          // outline: 3px solid #0064b190;
          box-shadow: 
            0px 0px 1px 1px rgba(0, 0, 0, 0.2),
            inset 1px 1px 1px 1px rgb(0, 0, 0, 0.219),
            inset -1px -1px 1px 1px rgba(255, 255, 255, 0.349);
        }

        .training__set-answer {
          background: #0064b127;
        }

        .training__right-answer {
          background:#01f80160;
        }

        .training__not-right-answer {
          background:#ff000060;
        }

        .training__no-answer {
          background: #e6e6e6;
        }
      }

      .training__block-questions-information {
        display: flex;
        justify-content: space-between;
        margin: 3rem 0;
        
        .training__block-names {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }

    .training__prev-title {
      text-align: center;
    }

    /* вопрос, отваты */
    .training-question-answers__body {
      margin-bottom: 2rem;
      padding: 0 2rem;
      border: 0.2rem solid #8a8a8a3f;
      border-radius: 0.5rem;

      .training-question-answers__question {
        min-height: 5rem;
        margin: 2rem 0;
      }

      .training-question-answers__answers {
        display: flex;
        flex-direction: column;
        gap: 1rem 0;
        min-height: 25rem;
        margin-bottom: 2rem;

        .training-question-answers__answers-body {
          display: block;
          margin: 0 0 1rem 0;
          padding: 0.5rem;
          font-weight: 400;
          color: #29292b;
          background: #f5f5f5;
          border: 0.2rem solid #8a8a8a3f;
          border-radius: 0.5rem;
          cursor: pointer;

          .training-question-answers__answers-body-selected-not-selected {
            font-weight: 600;
          }
        }

        .training-question-answers__answers-body:hover {
          color: #000;
          box-shadow: 0 0 2px 1px #7c8a94;
        }
        
        .training-question-answers__body:active {
          color: #000;
          background: #0064b127;
        }

        .training-question-answers__body--active {
          background: #0064b127;
        }

        .training-question-answers__body--correct {
          background: #0064b127;
        }

        .training-question-answers__body--correct-select {
          background: #01f80160;
        }

        .training-question-answers__body--incorrect-select {
          background: #ff000060;
        }

        .question-answers__answers-body--display--none {
          display: none;
        }

      }

    }

    /* кнопки */
    .training__btn-score{
      display: flex;
      justify-content: center;

      .training-btn-score__body {
        display: flex;
        gap: 0 2rem;

        .training-btn-score__btn {
          height: 3rem;
        }

        .btn-score__btn--display--none {
          display: none;
        }
      }
    }

    .training__button-exit, .training-btn-score__btn {
      padding: 0 1rem;
      height: 3.5rem;
      background: #e6e6e6;
      border: none;
      border-radius: 0.5rem;
      font-weight: 500;
      box-shadow: 
      0px 0px 2px 1px rgba(0, 0, 0, 0.1),
      inset -1px -1px 1px 1px rgb(0, 0, 0, 0.219),
      inset 1px 1px 1px 1px rgb(255, 255, 255);
      transition: all .1s;
      cursor: pointer;
    }

    .training__button-exit:hover, .training-btn-score__btn:hover {
      box-shadow: 
      0px 0px 3px 1px rgba(0, 0, 0, 0.3),
      inset -1px -1px 1px 1px rgb(0, 0, 0, 0.219),
      inset 1px 1px 1px 1px rgb(255, 255, 255);

    }

    .training__button-exit:active, .training-btn-score__btn:active {
      background: #e4e4e4;
      box-shadow: 
      0px 0px 2px 1px rgba(0, 0, 0, 0.1),
      inset 1px 1px 1px 1px rgb(0, 0, 0, 0.219),
      inset -1px -1px 1px 1px rgba(255, 255, 255, 0.349);
    }

    /* финальный текст */
    .training__block-result {
      display: flex;
      flex-direction: column;
      align-items: center;

      .training-final-text {
        margin: 2rem 0 0.5rem 0;
        font-size: 2rem;
        font-weight: 600;
      }

      .training-error-rate {
        color: red;
      }
      
      .training-correct {
        color: green;
      }

      .training-passed {
        color: #0064b1;
      }
    }
    
  }

}

