@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  padding: 0 calc(20px - (100vw - 100%)) 0 0;
}

h1, h2, h3, h4, h5, h6, p, a, span, li {
  font-family: "agora";
  color: #1d1d1e;
}

/* ---------------- arrow top ---------------- */
.arrow-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: none;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  font-size: 2.5rem;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px 1px rgba(22, 50, 110, 0.3960784314);
  background: rgba(22, 50, 110, 0.3960784314);
  cursor: pointer;
  transition: all 0.3s;
}

.arrow-top:hover {
  box-shadow: 0 0 6px 2px rgba(22, 50, 110, 0.8235294118);
  background: rgba(22, 50, 110, 0.8235294118);
  transform: scale(1.2);
}

.arrow-top:active {
  transform: scale(1);
}

.arrow-top--show {
  display: flex;
}

/* -------------------------------------------- */
.links {
  font-weight: 500;
  color: #0064b1;
  cursor: pointer;
  transition: 0.3s;
}

.links:hover {
  color: #0091ff;
}

.staff-training {
  width: 100%;
}
.staff-training__body {
  max-width: 102.4rem;
  margin: 0 auto;
  padding: 3rem;
}
.staff-training__logo {
  margin-bottom: 2rem;
}
.staff-training__main-nav-wrap {
  display: flex;
  flex-direction: column;
}
.staff-training__nav {
  display: flex;
  gap: 0 1rem;
}
.staff-training__nav .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  min-height: 4rem;
  height: auto;
  background: #cecece;
  border-radius: 0.5rem 0.5rem 0 0;
  color: #4d4d4d;
  font-weight: 500;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.219), inset 1px 1px 3px 1px rgb(240, 240, 240);
  cursor: pointer;
}
.staff-training__nav .nav-link:hover {
  margin-top: -0.5rem;
  color: #000000;
}
.staff-training__nav .nav-link:active {
  margin-top: 0;
  background: #f0f0f0;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.219), inset -1px -1px 3px 1px rgb(240, 240, 240);
}
.staff-training__nav .nav-link--active {
  margin-top: -0.5rem;
  color: #000000;
  background: #f0f0f0;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.219), inset -1px -1px 3px 1px rgb(240, 240, 240);
}
.staff-training__main {
  padding: 2rem 2rem 0 2rem;
  background: #f0f0f0;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
}
.staff-training__title {
  display: flex;
  justify-content: center;
}
.staff-training__title--margin-bottom {
  margin-bottom: 4rem;
}
.staff-training__title-text {
  text-align: center;
  font: 500 2.4rem/2.4rem "agora";
  margin-bottom: 3rem;
}
.staff-training__descriotion-text {
  margin-bottom: 1.5rem;
  font: 400 1.6rem/2rem "agora";
  text-align: justify;
  text-indent: 2rem;
}
.staff-training__descriotion-text--display--none {
  display: none;
}
.staff-training .questions-list {
  margin-bottom: 2rem;
}
.staff-training .questions-list--display--none {
  display: none;
}
.staff-training .questions-list__title {
  margin-bottom: 0.5rem;
  font: 500 1.8rem/2rem "agora";
}
.staff-training .questions-list__item {
  margin: 0 0 0.5rem 4rem;
  list-style: disc;
  transition: 0.3s;
}
.staff-training .questions-list__section-link {
  display: inline-block;
}
.staff-training .questions-list__item--list-style--none {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 0 0;
  list-style: none;
}

.training-main {
  font-size: 3rem;
}

.training-main--display--none {
  display: none;
}

.tests {
  display: none;
}
.tests--display--block {
  display: block;
}
.tests__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50rem;
  padding: 2rem 0;
}
.tests__body .tests__indicators-field .tests__block-indicator-answers {
  display: flex;
  gap: 0 0.2rem;
}
.tests__body .tests__indicators-field .tests__block-indicator-answers .exam__indicator-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: 1px solid #000;
  border-radius: 0.3rem;
}
.tests__body .tests__indicators-field .tests__block-indicator-answers .exam__indicator-body .exam__indicator-number {
  font-size: 1.6rem;
}
.tests__body .tests__indicators-field .tests__block-indicator-answers .exam__indicator-body:hover {
  cursor: pointer;
  box-shadow: 0 0 2px 1px #7c8a94;
}
.tests__body .tests__indicators-field .tests__block-indicator-answers .exam__current-indicator {
  box-shadow: 0px 0px 1px 1px #0064b1;
}
.tests__body .tests__indicators-field .tests__block-indicator-answers .exam__set-answer {
  background: rgba(0, 100, 177, 0.1529411765);
}
.tests__body .tests__indicators-field .tests__block-indicator-answers .exam__right-answer {
  background: #008000;
}
.tests__body .tests__indicators-field .tests__block-indicator-answers .exam__not-right-answer {
  background: #ff0000;
}
.tests__body .tests__indicators-field .tests__block-indicator-answers .exam__no-answer {
  background: transparent;
}
.tests .question-answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}
.tests .question-answers__question {
  margin-bottom: 1rem;
  font-weight: 600;
}
.tests .question-answers__answers-body {
  display: block;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  font-weight: 400;
  color: #29292b;
  background: #f5f5f5;
  border: 0.2rem solid rgba(138, 138, 138, 0.2470588235);
  border-radius: 0.5rem;
  cursor: pointer;
}
.tests .question-answers__answers-body--display--none {
  display: none;
}
.tests .question-answers__answers-body--active {
  background: rgba(0, 100, 177, 0.1529411765);
}
.tests .question-answers .exam-question-answers__body--correct {
  background: rgba(0, 100, 177, 0.1529411765);
}
.tests .question-answers .exam-question-answers__body--correct-select {
  background: rgba(0, 181, 0, 0.3176470588);
}
.tests .question-answers .exam-question-answers__body--incorrect-select {
  background: rgba(255, 0, 0, 0.3568627451);
}
.tests .question-answers__answers-body:hover {
  color: #000;
  background: rgba(0, 100, 177, 0.1529411765);
}
.tests .question-answers__answers-body:active {
  color: #000;
  background: rgba(0, 100, 177, 0.0470588235);
}
.tests .btn-score__body {
  display: flex;
}
.tests .btn-score__btn--display--none {
  display: none;
}
.field-start-exam {
  display: none;
}
.field-start-exam--display--block {
  display: block;
}
.field-start-exam__body {
  display: flex;
  justify-content: center;
}
.pre-start-countdown {
  position: relative;
  justify-content: center;
  height: 6rem;
}
.pre-start-countdown--display--block {
  display: flex;
}
.pre-start-countdown__num {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  opacity: 0;
  transition: 0.3s;
}

.field-questions {
  /* ---------------- scroll ---------------- */
  /* ---------------------------------------- */
}
.field-questions--display--none {
  display: none;
}
.field-questions__body {
  display: none;
  width: 100%;
  padding: 0 2rem;
  background: #f0f0f0;
  border-top: 2rem solid #f0f0f0;
  border-bottom: 2rem solid #f0f0f0;
  border-radius: 0.5rem;
  overflow: auto;
}
.field-questions__body::-webkit-scrollbar {
  width: 8px;
}
.field-questions__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #dadada;
}
.field-questions__body::-webkit-scrollbar-thumb:hover {
  background-color: #C1C1C1;
  cursor: pointer;
}
.field-questions__body-section-title {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.field-questions__body-quest-answ-wrap {
  margin-bottom: 2rem;
  padding: 1rem;
  background: #ffffff;
  border: 0.2rem solid rgba(138, 138, 138, 0.2470588235);
  border-radius: 0.5rem;
}
.field-questions__body-question {
  margin-bottom: 1rem;
  color: #000;
  font-weight: 600;
}
.field-questions__body-answer {
  margin: 0 0 1rem 2rem;
  padding: 0.5rem;
  font-weight: 400;
  color: #29292b;
  background: #f5f5f5;
  border: 0.2rem solid rgba(138, 138, 138, 0.2470588235);
  border-radius: 0.5rem;
}
.field-questions__body-answer--answer--correct {
  background: rgba(115, 255, 93, 0.1843137255);
  border: 0.2rem solid rgba(138, 138, 138, 0.2470588235);
  border-radius: 0.5rem;
}

.field-questions--margin--top {
  margin-top: 4rem;
}

/* блок прохождения обучения */
.training-main {
  /* блок с превьюшками */
  /* блок с прохождением обучения определеной секции */
}
.training-main .training__content {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
.training-main .training__content .training__content-inner {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 68rem;
}
.training-main .training__content .training__content-inner .preview-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33rem;
  padding: 1rem;
  line-height: 3rem;
  background: #fff;
  border: 1px solid #E2E2E2;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 0px 1px rgba(131, 130, 130, 0.1921568627);
  cursor: pointer;
}
.training-main .training__content .training__content-inner .disabled-block {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 3rem;
  height: 4rem;
}
.training-main .training__content .training__content-inner .inactive-status {
  box-shadow: 0 0 0 0;
  opacity: 0.4;
  cursor: default;
}
.training-main .training__content .training__content-inner .stage-block {
  text-align: center;
  margin-bottom: 1rem;
}
.training-main .training__content .training__content-inner .section-block {
  min-height: 10rem;
}
.training-main .training__content .training__content-inner .all-quest-in-stage {
  text-align: center;
}
.training-main .training {
  display: none;
  /* индикаторы */
  /* вопрос, отваты */
  /* кнопки */
}
.training-main .training .training__indicators-field .training__block-indicator-answers {
  display: flex;
  gap: 0 0.2rem;
}
.training-main .training .training__indicators-field .training__block-indicator-answers .training__indicator-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: 1px solid #000;
  border-radius: 0.3rem;
}
.training-main .training .training__indicators-field .training__block-indicator-answers .training__indicator-body .training__indicator-number {
  font-size: 1.6rem;
}
.training-main .training .training__indicators-field .training__block-indicator-answers .training__indicator-body:hover {
  cursor: pointer;
  box-shadow: 0 0 2px 1px #7c8a94;
}
.training-main .training .training__indicators-field .training__block-indicator-answers .training__current-indicator {
  box-shadow: 0px 0px 1px 1px #0064b1;
}
.training-main .training .training__indicators-field .training__block-indicator-answers .training__set-answer {
  background: rgba(0, 100, 177, 0.1529411765);
}
.training-main .training .training__indicators-field .training__block-indicator-answers .training__right-answer {
  background: #008000;
}
.training-main .training .training__indicators-field .training__block-indicator-answers .training__not-right-answer {
  background: #ff0000;
}
.training-main .training .training__indicators-field .training__block-indicator-answers .training__no-answer {
  background: transparent;
}
.training-main .training .training-question-answers__body .training-question-answers__question {
  min-height: 5rem;
  margin: 2rem 0;
}
.training-main .training .training-question-answers__body .training-question-answers__answers {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  min-height: 25rem;
  margin-bottom: 2rem;
}
.training-main .training .training-question-answers__body .training-question-answers__answers .training-question-answers__answers-body {
  display: block;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  font-weight: 400;
  color: #29292b;
  background: #f5f5f5;
  border: 0.2rem solid rgba(138, 138, 138, 0.2470588235);
  border-radius: 0.5rem;
  cursor: pointer;
}
.training-main .training .training-question-answers__body .training-question-answers__answers .training-question-answers__answers-body .training-question-answers__answers-body-selected-not-selected {
  font-weight: 600;
}
.training-main .training .training-question-answers__body .training-question-answers__answers .training-question-answers__answers-body:hover {
  color: #000;
  background: rgba(0, 100, 177, 0.1529411765);
}
.training-main .training .training-question-answers__body .training-question-answers__answers .training-question-answers__body:active {
  color: #000;
  background: rgba(0, 100, 177, 0.0470588235);
}
.training-main .training .training-question-answers__body .training-question-answers__answers .training-question-answers__body--active {
  background: rgba(0, 100, 177, 0.1529411765);
}
.training-main .training .training-question-answers__body .training-question-answers__answers .training-question-answers__body--correct {
  background: rgba(0, 100, 177, 0.1529411765);
}
.training-main .training .training-question-answers__body .training-question-answers__answers .training-question-answers__body--correct-select {
  background: rgba(0, 181, 0, 0.3176470588);
}
.training-main .training .training-question-answers__body .training-question-answers__answers .training-question-answers__body--incorrect-select {
  background: rgba(255, 0, 0, 0.3568627451);
}
.training-main .training .training-question-answers__body .training-question-answers__answers .question-answers__answers-body--display--none {
  display: none;
}
.training-main .training .training__btn-score {
  display: flex;
  justify-content: center;
}
.training-main .training .training__btn-score .training-btn-score__body {
  display: flex;
  gap: 0 2rem;
}
.training-main .training .training__btn-score .training-btn-score__body .training-btn-score__btn {
  height: 3rem;
}
.training-main .training .training__btn-score .training-btn-score__body .btn-score__btn--display--none {
  display: none;
}