@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  padding: 0 calc(20px - (100vw - 100%)) 0 0;
}

h1, h2, h3, h4, h5, h6, p, a, span, li {
  font-family: "agora";
  color: #1d1d1e;
}

/* ---------------- arrow top ---------------- */
.arrow-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 20;
  display: none;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  font-size: 2.5rem;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px 1px rgba(22, 50, 110, 0.3960784314);
  background: rgba(22, 50, 110, 0.3960784314);
  cursor: pointer;
  transition: all 0.3s;
}

.arrow-top:hover {
  box-shadow: 0 0 6px 2px rgba(22, 50, 110, 0.8235294118);
  background: rgba(22, 50, 110, 0.8235294118);
  transform: scale(1.2);
}

.arrow-top:active {
  transform: scale(1);
}

.arrow-top--show {
  display: flex;
}

/* -------------------------------------------- */
.links {
  font-weight: 500;
  color: #0064b1;
  cursor: pointer;
  transition: 0.3s;
}

.links:hover {
  color: #0091ff;
}

.staff-training {
  width: 100%;
  height: 100%;
}
.staff-training__body {
  max-width: 102.4rem;
  margin: 0 auto;
  padding: 3rem;
}
.staff-training__logo {
  margin-bottom: 2rem;
}
.staff-training__logo .staff-training__logo-image {
  max-height: 18rem;
}
.staff-training__logo .staff-training__logo-image-2 {
  display: none;
}
@media (max-width: 800px) {
  .staff-training__logo .staff-training__logo-image {
    display: none;
  }
  .staff-training__logo .staff-training__logo-2-wrapper {
    max-height: 18rem;
    max-width: 18rem;
  }
  .staff-training__logo .staff-training__logo-2-wrapper .staff-training__logo-image-2 {
    display: block;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .staff-training__logo {
    display: flex;
    justify-content: center;
  }
}
.staff-training__main-nav-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 50rem;
}
.staff-training__nav {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 0 1rem;
}
.staff-training__nav .nav-link {
  position: relative;
  bottom: -0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  min-height: 4.5rem;
  background: #e6e6e6;
  border-radius: 0.5rem 0.5rem 0 0;
  color: #4d4d4d;
  font-weight: 500;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.219), inset 1px 1px 3px 1px rgb(240, 240, 240);
  transition: all 0.1s;
  cursor: pointer;
}
.staff-training__nav .nav-link:hover {
  bottom: 0;
  color: #000000;
}
.staff-training__nav .nav-link:active {
  bottom: -0.5rem;
  background: #f0f0f0;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.219), inset -1px -1px 3px 1px rgb(240, 240, 240);
}
.staff-training__nav .nav-link--active {
  bottom: 0;
  color: #000000;
  background: #F6F6F6;
  border-bottom: none;
  box-shadow: 0px 0px 1px 1px rgba(70, 70, 70, 0.2196078431), inset 0px 0px 0px 0px rgb(240, 240, 240);
}
.staff-training .staff-training__background-line {
  position: relative;
}
.staff-training .staff-training__background-line::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 0.1rem;
  box-shadow: 0px -0.3px 1px 1px rgba(0, 0, 0, 0.1568627451);
}
.staff-training .staff-training__main {
  z-index: 3;
  display: flex;
  flex-direction: column;
  min-height: 50rem;
  padding: 2rem;
  background: #F6F6F6;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.1568627451);
  border-radius: 0 0 0.5rem 0.5rem;
}
.staff-training .staff-training__main .field-start-exam__button {
  padding: 0 1rem;
  height: 3.5rem;
  background: #e6e6e6;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.219), inset 1px 1px 3px 1px rgb(240, 240, 240);
  transition: all 0.3s;
  cursor: pointer;
}
.staff-training .staff-training__main .field-start-exam__button:hover {
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.219), inset 1px 1px 3px 1px rgb(240, 240, 240);
}
.staff-training .staff-training__main .field-start-exam__button:active {
  background: #e4e4e4;
  box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.219), 1px 1px 3px 1px rgb(240, 240, 240);
}
.staff-training__title {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.staff-training__title--margin-bottom {
  margin-bottom: 4rem;
}
.staff-training__title-text {
  text-align: center;
  font: 500 2.4rem/2.4rem "agora";
}
.staff-training__descriotion {
  max-width: 70.68rem;
  margin: 0 auto 3rem auto;
}
.staff-training__descriotion-text {
  margin-bottom: 1rem;
  font: 400 1.6rem/2rem "agora";
  text-align: justify;
  text-indent: 2rem;
}
.staff-training__descriotion-text--display--none {
  display: none;
}
.staff-training .questions-list {
  margin-bottom: 2rem;
}
.staff-training .questions-list--display--none {
  display: none;
}
.staff-training .questions-list__title {
  margin-bottom: 0.5rem;
  font: 500 1.8rem/2rem "agora";
}
.staff-training .questions-list__item {
  margin: 0 0 0.5rem 4rem;
  list-style: disc;
  transition: 0.3s;
}
.staff-training .questions-list__section-link {
  display: inline-block;
}
.staff-training .questions-list__item--list-style--none {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 0 0 0;
  list-style: none;
}
.staff-training .questions-list__item--list-style--none .questions-list__order-reference {
  margin: 0 4rem 2rem 0;
}
@media (max-width: 700px) {
  .staff-training .questions-list__item--list-style--none .questions-list__order-reference {
    margin: 0 0 2rem 0;
  }
}

.training-main {
  font-size: 3rem;
}

.training-main--display--none {
  display: none;
}

.tests {
  display: none;
}
.tests--display--block {
  display: block;
}
.tests__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50rem;
}
.tests__body .tests__indicators-field .tests__block-indicator-answers {
  display: flex;
  justify-content: center;
}
.tests__body .tests__indicators-field .tests__block-indicator-answers .tests__wrap-indicator-body {
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.5rem;
}
.tests__body .tests__indicators-field .tests__block-indicator-answers .exam__indicator-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: #e6e6e6;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px 1px 1px rgba(0, 0, 0, 0.219), inset 1px 1px 1px 1px rgba(255, 255, 255, 0.6);
}
.tests__body .tests__indicators-field .tests__block-indicator-answers .exam__indicator-body .exam__indicator-number {
  font-size: 1.6rem;
}
.tests__body .tests__indicators-field .tests__block-indicator-answers .exam__indicator-body:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.tests__body .tests__indicators-field .tests__block-indicator-answers .exam__current-indicator {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2), inset 1px 1px 1px 1px rgba(0, 0, 0, 0.219), inset -1px -1px 1px 1px rgba(255, 255, 255, 0.349);
}
.tests__body .tests__indicators-field .tests__block-indicator-answers .exam__set-answer {
  background: rgba(0, 100, 177, 0.1529411765);
}
.tests__body .tests__indicators-field .tests__block-indicator-answers .exam__right-answer {
  background: rgba(1, 248, 1, 0.3764705882);
}
.tests__body .tests__indicators-field .tests__block-indicator-answers .exam__not-right-answer {
  background: rgba(255, 0, 0, 0.3764705882);
}
.tests__body .tests__indicators-field .tests__block-indicator-answers .exam__no-answer {
  background: #e6e6e6;
}
.tests__body .tests__indicators-field .test__prev-title {
  text-align: center;
}
.tests__body .tests__indicators-field .tests__name-section-text {
  font-size: 1.6rem;
}
.tests__body .tests__indicators-field .tests__number-question-number,
.tests__body .tests__indicators-field .test__time-exam-num,
.tests__body .tests__indicators-field .test__time-exam-num span {
  font-size: 1.5rem;
  font-weight: 600;
}
.tests__body .tests__indicators-field .tests__block-questions-information {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 4rem 0 0 0;
  margin-bottom: 4rem;
}
.tests .question-answers__body {
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}
.tests .question-answers__question {
  margin-bottom: 1rem;
  font-weight: 600;
}
.tests .question-answers__answers-body {
  display: block;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  font-weight: 400;
  color: #29292b;
  background: #f5f5f5;
  border: 0.2rem solid rgba(138, 138, 138, 0.2470588235);
  border-radius: 0.5rem;
  cursor: pointer;
}
.tests .question-answers__answers-body .exam-question-answers__answers-body-selected-not-selected {
  font-weight: 600;
}
.tests .question-answers__answers-body--display--none {
  display: none;
}
.tests .question-answers__answers-body--active {
  background: rgba(0, 100, 177, 0.1529411765);
}
.tests .question-answers .exam-question-answers__body--correct {
  background: rgba(0, 100, 177, 0.1529411765);
}
.tests .question-answers .exam-question-answers__body--correct-select {
  background: rgba(1, 248, 1, 0.3764705882);
}
.tests .question-answers .exam-question-answers__body--incorrect-select {
  background: rgba(255, 0, 0, 0.3764705882);
}
.tests .question-answers__answers-body:hover {
  color: #000;
  box-shadow: 0 0 2px 1px #7c8a94;
}
.tests .question-answers__answers-body:active {
  color: #000;
  background: rgba(0, 100, 177, 0.0470588235);
}
.tests .btn-score__body {
  display: flex;
  justify-content: center;
  gap: 0 2rem;
  margin-top: 2rem;
}
.tests .btn-score__btn {
  padding: 0.5rem;
  color: #4d4d4d;
  background: #e6e6e6;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.219), inset 1px 1px 3px 1px rgb(240, 240, 240);
  transition: 0.2s;
}
.tests .btn-score__btn:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.219), inset 1px 1px 3px 1px rgb(240, 240, 240);
}
.tests .btn-score__btn:active {
  background: #e4e4e4;
  box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.219), 1px 1px 3px 1px rgb(240, 240, 240);
}
.tests .btn-score__btn--display--none {
  display: none;
}
.tests .btn-score__field-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tests .btn-score__field-result .final-text {
  margin: 2rem 0 0.5rem 0;
  font-size: 2rem;
  font-weight: 600;
}
.tests .btn-score__field-result .error-rate {
  color: red;
}
.tests .btn-score__field-result .correct {
  color: green;
}
.tests .btn-score__field-result .passed {
  color: #0064b1;
}
.field-start-exam {
  display: none;
}
.field-start-exam--display--block {
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-grow: 1;
}
.field-start-exam__body {
  display: flex;
  justify-content: center;
}
.pre-start-countdown {
  position: relative;
  justify-content: center;
  height: 6rem;
}
.pre-start-countdown--display--block {
  display: flex;
}
.pre-start-countdown__num {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  opacity: 0;
  transition: 0.3s;
}

.field-questions {
  /* ---------------- scroll ---------------- */
  /* ---------------------------------------- */
}
.field-questions--display--none {
  display: none;
}
.field-questions__body {
  display: none;
  width: 100%;
  padding: 0 2rem;
  background: #f0f0f0;
  border-top: 2rem solid #f0f0f0;
  border-bottom: 2rem solid #f0f0f0;
  border-radius: 0.5rem;
  overflow: auto;
}
.field-questions__body::-webkit-scrollbar {
  width: 8px;
}
.field-questions__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #dadada;
}
.field-questions__body::-webkit-scrollbar-thumb:hover {
  background-color: #C1C1C1;
  cursor: pointer;
}
.field-questions__body-section-title {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.field-questions__body-quest-answ-wrap {
  margin-bottom: 2rem;
  padding: 1rem;
  background: #ffffff;
  border: 0.2rem solid rgba(138, 138, 138, 0.2470588235);
  border-radius: 0.5rem;
}
.field-questions__body-question {
  margin-bottom: 1rem;
  color: #000;
  font-weight: 600;
}
.field-questions__body-answer {
  margin: 0 0 1rem 2rem;
  padding: 0.5rem;
  font-weight: 400;
  color: #29292b;
  background: #f5f5f5;
  border: 0.2rem solid rgba(138, 138, 138, 0.2470588235);
  border-radius: 0.5rem;
}
.field-questions__body-answer--answer--correct {
  background: rgba(115, 255, 93, 0.1843137255);
  border: 0.2rem solid rgba(138, 138, 138, 0.2470588235);
  border-radius: 0.5rem;
}

.field-questions--margin--top {
  margin-top: 4rem;
}

/* блок прохождения обучения */
.training-main {
  /* блок с превьюшками */
  /* блок с прохождением обучения определеной секции */
}
.training-main .training__content {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
.training-main .training__content .training__content-inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 68rem;
}
.training-main .training__content .training__content-inner .wrap-link-preview-block {
  flex: 1 1 100%;
  max-width: 33rem;
}
.training-main .training__content .training__content-inner .preview-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 1rem;
  line-height: 3rem;
  background: #fff;
  border: 1px solid #E2E2E2;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 0px 1px rgba(131, 130, 130, 0.1921568627);
  cursor: pointer;
}
.training-main .training__content .training__content-inner .disabled-block {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 3rem;
  height: 4rem;
}
.training-main .training__content .training__content-inner .inactive-status {
  box-shadow: 0 0 0 0;
  opacity: 0.4;
  cursor: default;
}
.training-main .training__content .training__content-inner .stage-block {
  text-align: center;
  margin-bottom: 1rem;
}
.training-main .training__content .training__content-inner .section-block {
  min-height: 10rem;
  width: 100%;
}
.training-main .training__content .training__content-inner .all-quest-in-stage {
  text-align: center;
}
.training-main .training {
  display: none;
  /* индикаторы */
  /* вопрос, отваты */
  /* кнопки */
  /* финальный текст */
}
.training-main .training .training__block-button-exit {
  margin-bottom: 3rem;
}
.training-main .training .training__indicators-field .training__block-indicator-answers {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.training-main .training .training__indicators-field .training__block-indicator-answers .training__indicator-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: #e6e6e6;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px 1px 1px rgba(0, 0, 0, 0.219), inset 1px 1px 1px 1px rgba(255, 255, 255, 0.6);
}
.training-main .training .training__indicators-field .training__block-indicator-answers .training__indicator-body .training__indicator-number {
  font-size: 1.6rem;
}
.training-main .training .training__indicators-field .training__block-indicator-answers .training__indicator-body:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.training-main .training .training__indicators-field .training__block-indicator-answers .training__current-indicator {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2), inset 1px 1px 1px 1px rgba(0, 0, 0, 0.219), inset -1px -1px 1px 1px rgba(255, 255, 255, 0.349);
}
.training-main .training .training__indicators-field .training__block-indicator-answers .training__set-answer {
  background: rgba(0, 100, 177, 0.1529411765);
}
.training-main .training .training__indicators-field .training__block-indicator-answers .training__right-answer {
  background: rgba(1, 248, 1, 0.3764705882);
}
.training-main .training .training__indicators-field .training__block-indicator-answers .training__not-right-answer {
  background: rgba(255, 0, 0, 0.3764705882);
}
.training-main .training .training__indicators-field .training__block-indicator-answers .training__no-answer {
  background: #e6e6e6;
}
.training-main .training .training__indicators-field .training__block-questions-information {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}
.training-main .training .training__indicators-field .training__block-questions-information .training__block-names {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.training-main .training .training__prev-title {
  text-align: center;
}
.training-main .training .training-question-answers__body {
  margin-bottom: 2rem;
  padding: 0 2rem;
  border: 0.2rem solid rgba(138, 138, 138, 0.2470588235);
  border-radius: 0.5rem;
}
.training-main .training .training-question-answers__body .training-question-answers__question {
  min-height: 5rem;
  margin: 2rem 0;
}
.training-main .training .training-question-answers__body .training-question-answers__answers {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  min-height: 25rem;
  margin-bottom: 2rem;
}
.training-main .training .training-question-answers__body .training-question-answers__answers .training-question-answers__answers-body {
  display: block;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  font-weight: 400;
  color: #29292b;
  background: #f5f5f5;
  border: 0.2rem solid rgba(138, 138, 138, 0.2470588235);
  border-radius: 0.5rem;
  cursor: pointer;
}
.training-main .training .training-question-answers__body .training-question-answers__answers .training-question-answers__answers-body .training-question-answers__answers-body-selected-not-selected {
  font-weight: 600;
}
.training-main .training .training-question-answers__body .training-question-answers__answers .training-question-answers__answers-body:hover {
  color: #000;
  box-shadow: 0 0 2px 1px #7c8a94;
}
.training-main .training .training-question-answers__body .training-question-answers__answers .training-question-answers__body:active {
  color: #000;
  background: rgba(0, 100, 177, 0.1529411765);
}
.training-main .training .training-question-answers__body .training-question-answers__answers .training-question-answers__body--active {
  background: rgba(0, 100, 177, 0.1529411765);
}
.training-main .training .training-question-answers__body .training-question-answers__answers .training-question-answers__body--correct {
  background: rgba(0, 100, 177, 0.1529411765);
}
.training-main .training .training-question-answers__body .training-question-answers__answers .training-question-answers__body--correct-select {
  background: rgba(1, 248, 1, 0.3764705882);
}
.training-main .training .training-question-answers__body .training-question-answers__answers .training-question-answers__body--incorrect-select {
  background: rgba(255, 0, 0, 0.3764705882);
}
.training-main .training .training-question-answers__body .training-question-answers__answers .question-answers__answers-body--display--none {
  display: none;
}
.training-main .training .training__btn-score {
  display: flex;
  justify-content: center;
}
.training-main .training .training__btn-score .training-btn-score__body {
  display: flex;
  gap: 0 2rem;
}
.training-main .training .training__btn-score .training-btn-score__body .training-btn-score__btn {
  height: 3rem;
}
.training-main .training .training__btn-score .training-btn-score__body .btn-score__btn--display--none {
  display: none;
}
.training-main .training .training__button-exit, .training-main .training .training-btn-score__btn {
  padding: 0 1rem;
  height: 3.5rem;
  background: #e6e6e6;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1), inset -1px -1px 1px 1px rgba(0, 0, 0, 0.219), inset 1px 1px 1px 1px rgb(255, 255, 255);
  transition: all 0.1s;
  cursor: pointer;
}
.training-main .training .training__button-exit:hover, .training-main .training .training-btn-score__btn:hover {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3), inset -1px -1px 1px 1px rgba(0, 0, 0, 0.219), inset 1px 1px 1px 1px rgb(255, 255, 255);
}
.training-main .training .training__button-exit:active, .training-main .training .training-btn-score__btn:active {
  background: #e4e4e4;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1), inset 1px 1px 1px 1px rgba(0, 0, 0, 0.219), inset -1px -1px 1px 1px rgba(255, 255, 255, 0.349);
}
.training-main .training .training__block-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.training-main .training .training__block-result .training-final-text {
  margin: 2rem 0 0.5rem 0;
  font-size: 2rem;
  font-weight: 600;
}
.training-main .training .training__block-result .training-error-rate {
  color: red;
}
.training-main .training .training__block-result .training-correct {
  color: green;
}
.training-main .training .training__block-result .training-passed {
  color: #0064b1;
}