html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, a, span, li {
  font-family: 'agora';
  color: #1d1d1e;
}

/* ---------------- arrow top ---------------- */
.arrow-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: none;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  font-size: 3.5rem;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px 1px #16326e65;
  background: #16326e65;
  cursor: pointer;
  transition: all .3s;
}
.arrow-top:hover {
  box-shadow: 0 0 6px 2px #16326ed2;
  background: #16326ed2;
}
.arrow-top:active {
  transform: scale(0.9);
}
.arrow-top--show {
  display: flex;
}
/* -------------------------------------------- */

.links {
  font-weight: 500;
  color: #0064b1;
  cursor: pointer;
  transition: .3s;
}

.links:hover {
  color: #0091ff;
}

.staff-training {
  width: 100%;

  &__body {
    max-width: 102.4rem;
    margin: 0 auto;
    padding: 3rem;
  }

  &__logo {
    margin-bottom: 2rem;
  }

  &__main-nav-wrap {
    display: flex;
    flex-direction: column;
    // gap: 4rem 0;
  }

  &__nav {
    display: flex;
    gap: 0 1rem;

    .nav-link {
      display: flex;
      justify-content: center;
      align-items: center;
      // padding: 1rem 2rem;
      width: 100px;
      min-height: 4rem;
      height: auto;
      background: #cecece;
      border-radius: 0.5rem 0.5rem 0 0;
      color: #4d4d4d;
      font-weight: 500;
      box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.219),
      inset 1px 1px 3px 1px rgb(240, 240, 240);
      // transition: all .1s;
      cursor: pointer;
    }

    .nav-link:hover {
      margin-top: -0.5rem;
      color: #000000;
    }

    .nav-link:active {
      margin-top: 0;
      background: #f0f0f0;
      box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.219), 
      inset -1px -1px 3px 1px rgb(240, 240, 240);
    }

    .nav-link--active {
      margin-top: -0.5rem;
      color: #000000;
      background: #f0f0f0;
      box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.219), 
      inset -1px -1px 3px 1px rgb(240, 240, 240);
    }

  }

  &__main {
    padding: 2rem 2rem 0 2rem;
    background: #f0f0f0;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__title--margin-bottom {
    margin-bottom: 4rem;
  }

  &__title-text {
    text-align: center;
    font: 500 2.4rem/2.4rem 'agora';
    margin-bottom: 3rem;
  }

  &__descriotion-text {
    margin-bottom: 1.5rem;
    font: 400 1.6rem/2rem 'agora';
    text-align: justify;
    text-indent: 2rem;
  }

  &__descriotion-text--display--none {
    display: none;
  }

  .questions-list {
    margin-bottom: 2rem;

    &--display--none {
      display: none;
    }

		&__body {
		}

		&__title {
      margin-bottom: 0.5rem;
      font: 500 1.8rem/2rem 'agora';
		}

		&__item {
      margin: 0 0 0.5rem 4rem;
      list-style: disc;
      transition: .3s;
		}

    &__section-link {
      display: inline-block;
    }

    &__item--list-style--none {
      display: flex;
      justify-content: space-between;
      margin: 2rem 0 0 0;
      list-style: none;
    }
  }

}

.tests {
  &--display--none {
    display: none;
  }

  .btn-score {

    &__body {
    }
  
    &__btn {
    }
  
    &__btn--display--none {
      display: none;
    }
  
    &__field-result {
    }
  
    &__field-result-result {
    }
  }

}


.field-questions {
  &--display--none {
    display: none;
  }

  &__body {
    display: none;
    width: 100%;
    // max-height: 80rem;
    padding: 0 2rem;
    background: #f0f0f0;
    border-top: 2rem solid #f0f0f0;
    border-bottom: 2rem solid #f0f0f0;
    border-radius: 0.5rem;
    overflow: auto;  
  }

  /* ---------------- scroll ---------------- */
  &__body::-webkit-scrollbar {
    width: 8px;
  }
  &__body::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #dadada;
  }
  &__body::-webkit-scrollbar-thumb:hover {
    background-color: #C1C1C1;
    cursor: pointer;
  }
  /* ---------------------------------------- */

  &__body-section-title {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
  }

  &__body-quest-answ-wrap {
    margin-bottom: 2rem;
    padding: 1rem;
    background: #ffffff;
    border: 0.2rem solid #8a8a8a3f;
    border-radius: 0.5rem;
  }

  &__body-question {
    margin-bottom: 1rem;
    color: #000;
    font-weight: 600;
  }

  &__body-answer {
    margin: 0 0 0.5rem 2rem;
    font-weight: 400;
    color: #29292b;
  }

  &__body-answer--answer--correct {
    border: 0.2rem solid #8a8a8a3f;
    border-radius: 0.5rem;
    background: #73ff5d2f;
  }
  
}

.field-questions--margin--top {
  margin-top: 4rem;
}




